
// Variables

$color1:#572EE5;
$color2:#50E3C2;
$color3:#9CAFC3;

$font:  font-family 'Montserrat-Bold', sans-serif;


.hidden { 
    visibility: hidden;
}

.none {
    display: none;
}

.visible { 
    visibility: visible;
}

