
// Variables

$color1:#572EE5;
$colorVioleta:#4f1eff99;
$color2:#50E3C2;
$color3:#9CAFC3;
$suggestionsColor:#9CAFC3 100%;

$bgColorDark1: #37383C;
$bgColorDarkTrending: #222326;

*{
    font-family:'Montserrat-Bold', sans-serif;
    letter-spacing: 0;
    
}



.noneMode{
    display: none;
}



.hidden { 
    visibility: hidden;
}

.none{
    display: none;
}

.visible { 
    visibility: visible;
}


main{
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.trending{
    width:100%;
}




.darkMode{
    background-color: $bgColorDark1;
    color: #ffffff;
    border-top: 0.38em solid $bgColorDarkTrending; 
    
    a{
        color:#FFFFFF
    } 

    li{
        color:#ffffff ;
    }
    
}
