
// Variables

$color1:#572EE5;
$colorVioleta:#4f1eff99;
$color2:#50E3C2;
$color3:#9CAFC3;
$suggestionsColor:#9CAFC3 100%;

$bgColorDark1: #37383C;
$bgColorDark2: #222326;

$font:  font-family 'Montserrat-Bold', sans-serif;




.hidden { 
    visibility: hidden;
}

.none {
    display: none;
}

.visible { 
    visibility: visible;
}


