

.hover{  
    display: flex;
    justify-content: flex-end;
    z-index: -10;
   
    
}

.hoverIcon{
    background-color: transparent;
    
}

.gipho{
  margin: 0; 
}

.cardTitle{
    margin: 0%;
    font-size:large
}