.darkModeTdn{
    background-color: $bgColorDark2;
}  

.darkModeFirst{
    background-color: $bgColorDark1;   
}

.darkModeHeader{
    background-color: $bgColorDark1;
}

.darkModeForm {
    background-color: $bgColorDark1;
    border:1px #fff solid;
}

.darkModeInput{
    color:  #9CAFC3;
    background-color: $bgColorDark1;
}

.darkModeTitle{
    color: #FFFFFF;
    font-family: Montserrat-Bold;
}


.darkModeSecond{
    color: #FFFFFF   
}

.darkModeTitle{
    h2, p{
        color: #FFFFFF;
    }  
}

.darkModeSlider{
    h2,p{
        color: #FFFFFF;
    }
}