.solapaMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solapaTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.solapaBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}