
.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainTitle{
    font-size: xx-large;
    line-height:  50px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: $color1;
    text-align: center;
    span{
        color:#50E3C2;
    }
}


.formulario {
    
    
    padding: 1%;
    
    width: 38.3%;
    border: ( 1px solid #572EE5);
    border-radius: 2.6367188vw;
    margin-top: 1%; 
    

}

 .search {
    width: 100%;
    border-color: transparent;
    outline: transparent;    
 }
 


 .searchTitle{
     text-transform: capitalize;
     color: $color1;
}

.cajaInput{
    display: flex;
    width: 100%;
}



.suggestionP{
    margin-left: 2%;
    color:#9CAFC3;
    :hover{
        color: $color1 ;
        

    }
}


.marginTop{
    margin-top: 1%;
    border-top: $color3 2px solid;
}

.suggestionBox{
    
    display: flex;
}
