.footerContent{
    display: flex;
    justify-content: center;
    height:5% ;
}

.shareBox{
    display: flex;    
    margin-left: 1em;
    
    .footImg{
        margin: 1em;
    }

}

.footRights{
    margin-left: 60%;
}