


.gifContainer{
    
 
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    flex-wrap: wrap;      
    width: 60%;
    margin-left:20%;
    margin-right: 20%;
      
  }


.cajaGif{
    margin-top: 1%;
    
  
    width: 12em;
    height: 10em;  
    display: flex;
    position: relative;
}

.boxMyGifo{
    width: 12em;
    height: 10em; 
    margin: 1%;
}



.hiddenOverlay{
    position: absolute;
    width: 100%;
    height:100%;
    display: flex;
    
    justify-content: space-around;
    background-color: $colorVioleta;    
}

.result{
    width: 100%;
    height: 100%;
}




.verMasButton{
    margin-top: 20px;
    min-width: 115px;
    width: 8.8194444vw;
    min-height: 40px;
    height: 3.4722222vw;
    border: 1px solid #572EE5;
    border-radius: 19.685039vw;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: calc(12px + 0.27777778vw);
    color: #572EE5;
}


.gifData{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: auto;     
    color: white;     
    position: relative;
    margin-left: 1.5%;
    
}


.cajitaTools{
    position: absolute;
    display: flex;     
    width: 4%;    
    margin-top:0.5%;
    left: 45%;
    padding: 1%;    
    
}

.gifTitle{
    /* width: 80%; */
    font-size: small;
    margin-bottom: 0px;

}
.gifAuthor{
    width: 80%;
    margin-top: 0px;
    font-size: smaller;

}








