


.searchResultsContainer{
    
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    flex-wrap: wrap;      
    width: 60%;
    margin-left:20%;
    margin-right: 20%;
      
      
  }


.cajaGif{
    margin-top: 1%;
  
    width: 12em;
    height: 10em;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    .hiddenOverlay{
        position: absolute;
        width: 12em;
        display: flex;
        flex-direction: column;    
    }
  
}

.result{
    width: 100%;
    height: 100%;
}





.gifTitle {
   color: violet;
   font-size:large
   
}

.titleAndAuthorElements{
    margin: 1%;
}





.giphoBox{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 22.313rem;
    padding: 0.5%;
    position: relative;

        
    }


.cajitaTools{
    display: flex;
    align-self:flex-start;  
    
    margin-top: 0.5%;
    margin-right : 0.5%;
    
}





