body {
    border-top: 0.38em solid $color1;

}


.headerCtn {
    display: flex;
    margin-top: 1%;
    justify-content: space-around;
    align-items: center;
}

.logoCtn {
    margin-left: 1%;
    width: 39%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.burgerTools {
    align-self: flex-end;
}



.navBar {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}


.ulNav {
    display: flex;
    text-decoration: none;
    justify-content: space-around;



    width: 80%;

    list-style: none;
}

li {

    color: $color1;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;

    :hover {
        text-decoration: underline $color2 0.2em;
        cursor: pointer;
    }
}


a {
    text-decoration: none;
    text-transform: none;
    font-size: calc(11px + 0.13888889vw);
    color: $color1;
}





.setModeBox {
    display: flex;
    flex-direction: column;
}

.burgerButtonsInactive{
    visibility: hidden;
}



@media screen and (max-width: 767px) {


    body{
        height: auto;
    }

    .ulNav{
        width: 100%;
    }

    .menuBurgerDark{
        background-color: $bgColorDarkTrending;
    }


    .burger{
        visibility: visible;
        }  

    
    .oval {
        display: none;
    }


    .headerCtn {
        display: flex;
        flex-direction: column;
    }

    .logoCtn {
        width: 98%;
        margin: 2%;
    }

    .ulNav{
        display: none;
    }

    .mainTitle{
        width: 90%;
        line-height: 0;
        font-size: 0.2rem;        
    }




    .burgerMenuOpen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 98%;
        margin: 2%;
        padding: 0%;
        }

    li{
        margin: 3%;
    }

    .navBar{
        width: 100%;
    }


        


}