
body{
    border-top: 0.38em solid $color1;        
}


.headerCtn{
    display: flex;
    margin-top: 1%;
    justify-content: space-around;
    align-items: center;
}

 .logoCtn{
     margin-left: 1%;
     width:39%;    
 }

 .navBar{
     display: flex;
     width: 60%;    
     justify-content: center;
     align-items: center;
 }


 .ulNav{
     display: flex;  
     text-decoration: none; 
     justify-content: space-around;
     
     
     
     width: 80%;
     
     list-style: none;       
 } 
 
 li{
    
    color: $color1;     
    font-weight: 700;    
    text-decoration: none;
    text-transform: none; 

    :hover{
        text-decoration:underline $color2 0.2em;     
        cursor:pointer;   
     }
}


a{
    text-decoration: none;
    text-transform: none;
    font-size: calc(11px + 0.13888889vw);  
    color: $color1;
}



.setModeBox{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 378px) {
   .oval{
       display: none;
   }

  } 