

.searchResultsContainer{
    width: 80%;   
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;     
    justify-content:center ;
    
}

/* .result{
width: 100%; 
} */
