.hidden{
    display: none;
}

.out{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;     
    justify-content: center;  
    
}


.result{
    width:10em;
    height: 8em;
    margin: 0.5rem;
}