.second h2 {
    color: $color1;
    font-size: x-large;
    text-align: center;
}

.themes {
    color: $color1;
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    }

.hiddenBtn{
    display: none;
}

.tnd-ctn{
   display: flex;
   justify-content: space-between;
   overflow-x:hidden;
   
   
}

.gipho{
    margin-top: 0%;
    width: 320px;
    height: 215px;
    
    
}



.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow: transparent;
    scrollbar-color: transparent;
    
    
}

.prev, .next {
    width: 5%;
    margin: 1%;
}

.trending{
    background-color:#F3F5F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

