.second h2 {
    color: $color1;
    font-size: x-large;
    text-align: center;
}

.themes {
    color: $color1;
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    }


.gipho{
    width:30%; height: auto;
} 
