.container{
    width: 60%; height:25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: blueviolet 3px solid; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y:hidden;
    position: relative;
}



.titleSlider{
    font-size: xx-large;
    color: $color1;
    span{
        color: $color2;
    }
    
}
.circleWithNumber{
    display:flex;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 0.5%;

}

.num{
    border-radius: 50%;    
    border: 0.1em solid $color1;
    width: 1.5em;
    text-align: center;
    margin: 0.3em;
    color: $color1;
    }

.purpleLine{
    width: 70%;
    background-color: $color1;
    height: 0.4em;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1em;
}

.inputWebcamAcces {
    width: 10%;
    height: 2em;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 1em;
    border-radius: 50%;
}

.newStep{
    border-radius: 50%;    
    border: 0.1em solid $color1;
    width: 1.5em;
    text-align: center;
    margin: 0.3em;
    color: white;
    background-color: $color1;

}

.videoBox{     
      height: 85%;    
      position: relative;   
      top: 7.5%;     
}

.previewAndVideoBox{
    position: relative;
    width: 100%;
    height: 100%;  
}

.uploadGipho{
    position: relative;
    width: 50%;
    height: 85%;
    top: 7.5%;
    
    
}

.uploadingGifOverlay{
    background-color: #4f1eff99;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    

}

.overlayBox{
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
    height: 50%;
    

}


.uploadingGifoImg{
    width: 8%;
}


.numbersAndMore{
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 20%;
}

.recordAgain{
    color: $color1;
    
    &:hover{
        border-bottom: $color2 2px solid;
    }
}


.hovered{
    &:hover{
        background-color: $color1;
        color: white;
    }
}

