.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.logo {
  width: 50%;
}

nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
}

nav ul li {
  list-style: none;
  margin: 5px;
  font-family: 'Montserrat-Bold', sans-serif;
}

.anav {
  text-decoration: none;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mainTitle {
  font-size: xx-large;
  line-height: 50px;
  font-family: 'Montserrat-Bold', sans-serif;
  color: #572EE5;
  text-align: center;
}

.mainTitle span {
  color: #50E3C2;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38.3%;
  border: 1px solid #572EE5;
  border-radius: 15px;
  margin-top: 1%;
}

.search {
  width: 100%;
  border-color: transparent;
  outline: transparent;
}

.searchTitle {
  text-transform: capitalize;
  color: #572EE5;
}

.second h2 {
  color: #572EE5;
  font-size: x-large;
  text-align: center;
}

.themes {
  color: #572EE5;
  text-align: center;
  font-family: 'Montserrat-Medium', sans-serif;
}

.hiddenBtn {
  display: none;
}

.tnd-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: scroll;
  height: 500;
}

.gipho {
  margin-top: 0%;
  width: 320px;
  height: 215px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.prev, .next {
  width: 5%;
  margin: 1%;
}

.trending {
  background-color: #F3F5F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.captureBox {
  width: 60%;
  height: 25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border: blueviolet 3px solid;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.captureBox h2 {
  font-size: xx-large;
  color: #572EE5;
}

.captureBox h2 span {
  color: #50E3C2;
}

.p_capturebox {
  margin: 1px;
}

.hiddenBox {
  display: none;
}

.circleWithNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
}

.num {
  border-radius: 50%;
  border: 0.1em solid #572EE5;
  width: 1.5em;
  text-align: center;
  margin: 0.3em;
  color: #572EE5;
}

.purpleLine {
  width: 70%;
  background-color: #572EE5;
  height: 0.4em;
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1em;
}

.comenzar {
  width: 10%;
  height: 2em;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 1em;
  border-radius: 50%;
}

.newStep1 {
  border-radius: 50%;
  border: 0.1em solid #572EE5;
  width: 1.5em;
  text-align: center;
  margin: 0.3em;
  color: white;
  background-color: #572EE5;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.shareBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1em;
}

.shareBox .footImg {
  margin: 1em;
}

.footRights {
  margin-left: 60%;
}

.out {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result {
  width: 100%;
  /*   width:15em;
    height: 12em;
    margin: 0.5rem; */
}

.solapaMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solapaTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
}

.solapaBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.cajaGif {
  width: 19%;
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hiddenOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gifTitle {
  color: violet;
  font-size: large;
}

.titleAndAuthorElements {
  margin: 1%;
}

.gifData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0%;
  padding: 0%;
  z-index: 0;
  position: absolute;
  margin-top: -25%;
  width: 98%;
  height: 30%;
}

.resultCtn {
  width: 22.313rem;
  height: 17.188rem;
  padding: 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.giphoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 22.313rem;
  padding: 0.5%;
  position: relative;
}

.cajitaTools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  margin-top: 0.5%;
  margin-right: 0.5%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 5%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #572EE5;
  /* Fallback color */
  background-color: #50E3C2;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 38%;
  max-width: 70%;
  max-height: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  text-align: center;
  color: Black;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */